@model IEnumerable<ApplicationCore.Model.Response.MovieResponseModel>

@{
    ViewBag.Title = "Highest Grossing Movies";
    Layout = "_Layout";
}

<br>
<h2>Top @ViewBag.Count Highest Grossing Movies</h2>
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Revenue</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var m in Model)
        {
        <tr>
            <td>@m.Title</td>
            @* N0 format specifier formats number with thousands separators and no decimal places *@
            <td>@($"${m.Revenue:N0}")</td>
        </tr>
        }
        </tbody>
    </table>
</div>
