html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 20px;
}

.movie-grid img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie-card {
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 5px;
  width: 15%;
  text-align: center;
}
.movie-poster {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}


.movie-shop {
  padding: 20px;
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar a:hover {
  background-color: #a8a8a8;
}

.auth-buttons {
  float: right;
}

.auth-buttons a {
  margin-left: 10px;
}

.dropdown-menu {
  background-color: #333;
  color: #fff; 
  border: none;
}

.dropdown-menu a {
  color: #fff;
  padding: 10px 20px; 
}

.dropdown-menu a:hover {
  background-color: #a8a8a8; 
  color: #fff;
}

.btn-primary {
  background-color: lightgrey;
  border-color: lightgrey;
  color: #333;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #a8a8a8;
  border-color: #a8a8a8;
}

.pagination .page-item.disabled .page-link {
  pointer-events: none;
  color: #6c757d;
}
.pagination .page-item.active .page-link {
  background-color: darkgrey;
  border-color: darkgrey;
  color: #fff;
}
